<app-navigation></app-navigation>
<mat-card>
  <p>
    A to-do list is a simple tool that helps you organize your tasks and manage
    your time effectively. It’s a list of tasks you need to complete or things
    that you want to do, typically organized in order of priority. You can use a
    to-do list in your home and personal life, or in the workplace. By
    prioritizing the tasks in the list, you plan the order in which you’re going
    to do them and can quickly see what needs your immediate attention and what
    tasks you can leave until a little later.
  </p>
  <img src="https://th.bing.com/th/id/OIP.cS_RO77JUPiK2pZegHyjOwHaE8?w=1000&h=667&rs=1&pid=ImgDetMain" alt="todo">
  <h1>Please <a routerLinkActive="active-link" routerLink="/login">login</a> or
    <a routerLinkActive="active-link" routerLink="/signup">signup</a> to use Todo app.
  </h1>
</mat-card>